
<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="icon-home home-icon"></i>
      <a href="/index">主页</a>
    </li>
    <li>
      <a href="#">业务信息</a>
    </li>
    <li class="active">热销品牌维护</li>
  </ul>
</div>

<div class="page-content">
  <div class="page-header">
    <h1>
      业务信息
      <small>
        <i class="icon-double-angle-right"></i>
        热销品牌维护
      </small>
    </h1>
  </div><!-- /.page-header -->

  <div class="row" id="app">
    <div class="col-xs-12">
      <button type="button" class="btn btn-primary" @click="onAdd" data-toggle="modal">
        <i class="icon-plus"></i>
        添加
      </button>
      <div class="space-6"></div>
      <div class="table-header">
        找到{{totalCount}}条数据
      </div>
      <div class="table-responsive">
        <table id="data-list" class="table table-striped table-bordered table-hover no-margin-bottom">
          <thead>
          <tr>
            <th class="center">
              热销编号
            </th>
            <th>品牌</th>
            <th>图片</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>当前状态</th>
            <th class="hidden-480">添加</th>
            <th>
              <i class="icon-time bigger-110 hidden-480"></i>
              添加时间
            </th>
            <th class="hidden-480">更新</th>
            <th>
              <i class="icon-time bigger-110 hidden-480"></i>
              更新时间
            </th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          {{#each dataList}}
            <tr>
              <td class="center">{{this.brandHotID}}</td>
              <td>
                <input type="hidden" value="{{this.brandID}}">
                {{this.brandCN}}
              </td>
              <td>
                <img src="{{this.brandImageUrl}}" class="img-responsive" style="height: 60px">
              </td>
              <td>{{this.startDate}}</td>
              <td>{{this.endDate}}</td>
              <td>
                <input type="hidden" value="{{this.status}}">
                {{this.statusText}}
              </td>
              <td>{{this.inUser}}</td>
              <td>{{this.inDate}}</td>
              <td>{{this.lastEditUser}}</td>
              <td>{{this.lastEditDate}}</td>
              <td>
                <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                  <a class="green" href="#" @click="onChange({{@index}})">
                    <i class="icon-pencil bigger-130"></i>
                  </a>
                  <a class="red" href="#" @click="onDelete('{{this.brandHotID}}', '{{this.brandCN}}')">
                    <i class="icon-trash bigger-130"></i>
                  </a>
                </div>
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>

      {{#if paginationArray}}
        <div class="modal-footer no-margin-top">
          <ul class="pagination pull-right no-margin">
            <li class="prev">
              {{#if prePageNum}}
                <a href="/brandHot?page={{prePageNum}}">
                  <i class="icon-double-angle-left"></i>
                </a>
              {{else}}
                <span>
              <i class="icon-double-angle-left"></i>
            </span>
              {{/if}}
            </li>
            {{#each paginationArray}}
              <li>
                <a href="/brandHot?page={{this}}">{{this}}</a>
              </li>
            {{/each}}
            <li class="next">
              {{#if nextPageNum}}
                <a href="/brandHot?page={{nextPageNum}}">
                  <i class="icon-double-angle-right"></i>
                </a>
              {{else}}
                <span>
              <i class="icon-double-angle-right"></i>
            </span>
              {{/if}}
            </li>
          </ul>
        </div>
      {{/if}}

      <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">热销品牌编辑</h4>
            </div>
            <div class="alert alert-danger store-alert hidden">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <span></span>
            </div>
            <div class="modal-body">
              <form class="form-horizontal">
                <div class="form-group" v-if="brandHotID !== ''">
                  <label for="inputEmail3" class="col-sm-2 control-label">热销编号</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">\{{brandHotID}}</p>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">热销品牌</label>
                  <div class="col-sm-10 ">
                    <select class="form-control" v-model="selectedBrand" @change="onBrandChange()">
                      <option value="0" selected>请选择所属品牌</option>
                        <option v-for="brand in brandList" :value="brand.brandID">\{{brand.brandCN}}</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">开始时间</label>
                  <div class="col-sm-10">
                    <input type="datetime-local" class="form-control" v-model="startDate"/>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">结束时间</label>
                  <div class="col-sm-10">
                    <input type="datetime-local" class="form-control" v-model="endDate" @blur="onEndDateBlur()"/>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">热销状态</label>
                  <div class="col-sm-10">
                    <select class="form-control" v-model="selectedStatus">
                      <option value="" selected>请选择热销状态</option>
                      <option value="A" selected>激活</option>
                      <option value="F" selected>禁止</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-10 col-sm-offset-2">
                    <div class="alert alert-warning alert-dismissible hidden" role="alert">
                      <strong>提示!</strong>
                      <span></span>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
              <button type="button" class="btn btn-primary" :disabled="!enabledSave" @click="onSave">保存</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>
    </div>
  </div>
</div>

<input type="hidden" value="{{currentPageNum}}" id="hidden-currentPageNum">
<script src="/javascripts/view/brandHot.js"></script>